@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-title: #000709;
  --color-text: #828485;
}

body {
  font-family: "Inter Tight", sans-serif;
}